In [127]:
import pandas as pd
import numpy as np

In [128]:
df = pd.read_excel("house_price.xlsx")
df

,price,age,floor,heating_system,number_of_room,district,area,unit,district_socioeconomic_status
0,4.970750e+05,5.0,NaN,0.0,3.0,Mamak,112.5,m2,Low Level
1,6.197410e+05,7.0,5.0,0.0,6.0,ÇaNKAya,153.1,m2,High Level
2,5.651450e+05,11.0,5.0,0.0,NaN,Çankaya,NaN,m2,High Level
3,5.931840e+05,7.0,5.0,0.0,4.0,Çankaya,127.3,m2,NaN
4,NaN,6.0,1.0,NaN,0.0,Mamak,79.9,m2,Low Level
...,...,...,...,...,...,...,...,...,...
155,5.806670e+05,1000.0,5.0,NaN,NaN,Çankaya,115.7,m2,High LeVeL
156,5.057010e+05,11.0,NaN,0.0,2.0,Keçiören,106.1,NaN,Middle Level
157,4.814590e+05,7.0,0.0,0.0,3.0,Mamak,NaN,m2,Low Level
158,5.321420e+05,5.0,2.0,0.0,4.0,Keçiören,131.0,m2,Middle Level
159,5.000000e+15,9.0,3.0,0.0,2.0,Keçiören,101.2,m2,Middle Level

In [129]:
df["district"] = df["district"].str.lower() #we changed of all data to lowercase, it was not necessary but there was something wrong,i solved it with that.
df["district"] = df["district"].str.title() #To convert all data title.
df["district"] = df["district"].str.strip() #To avoid white spaces.
df["district"]
df["district_socioeconomic_status"] = df["district_socioeconomic_status"].str.lower() #Same reasons with above.
df["district_socioeconomic_status"] = df["district_socioeconomic_status"].str.title() #To convert all data title.
df["district_socioeconomic_status"] = df["district_socioeconomic_status"].str.strip() #To avoid white spaces.

In [130]:
df.loc[df["district_socioeconomic_status"] == "High Level", "district"]  = "Çankaya"
df.loc[df["district_socioeconomic_status"] == "Middle Level", "district"]  = "Keçiören"
df.loc[df["district_socioeconomic_status"] == "Low Level", "district"]  = "Mamak"
#We changed empty data with respect to district_socioeconomic_level; Çankaya is High Level,Keçiören is Middle Level, Mamak is Low level.
print(df)

            price     age  floor  heating_system  number_of_room  district  \
0    4.970750e+05     5.0    NaN             0.0             3.0     Mamak
1    6.197410e+05     7.0    5.0             0.0             6.0   Çankaya
2    5.651450e+05    11.0    5.0             0.0             NaN   Çankaya
3    5.931840e+05     7.0    5.0             0.0             4.0   Çankaya
4             NaN     6.0    1.0             NaN             0.0     Mamak
..            ...     ...    ...             ...             ...       ...
155  5.806670e+05  1000.0    5.0             NaN             NaN   Çankaya
156  5.057010e+05    11.0    NaN             0.0             2.0  Keçiören
157  4.814590e+05     7.0    0.0             0.0             3.0     Mamak
158  5.321420e+05     5.0    2.0             0.0             4.0  Keçiören
159  5.000000e+15     9.0    3.0             0.0             2.0  Keçiören

      area unit district_socioeconomic_status
0    112.5   m2                     Low Level
1    153.1   m2                    High Level
2      NaN   m2                    High Level
3    127.3   m2                           NaN
4     79.9   m2                     Low Level
..     ...  ...                           ...
155  115.7   m2                    High Level
156  106.1  NaN                  Middle Level
157    NaN   m2                     Low Level
158  131.0   m2                  Middle Level
159  101.2   m2                  Middle Level

[160 rows x 9 columns]

In [131]:
df.loc[df["district"] == "Çankaya", "district_socioeconomic_status"]  = "High Level"
df.loc[df["district"] == "Keçiören", "district_socioeconomic_status"]  = "Middle Level"
df.loc[df["district"] == "Mamak", "district_socioeconomic_status"]  = "Low Level"
#We changed empty data with respect to district, High Level is Çankaya; Middle Level is Keçiören, Low level is Mamak.
print(df)

            price     age  floor  heating_system  number_of_room  district  \
0    4.970750e+05     5.0    NaN             0.0             3.0     Mamak
1    6.197410e+05     7.0    5.0             0.0             6.0   Çankaya
2    5.651450e+05    11.0    5.0             0.0             NaN   Çankaya
3    5.931840e+05     7.0    5.0             0.0             4.0   Çankaya
4             NaN     6.0    1.0             NaN             0.0     Mamak
..            ...     ...    ...             ...             ...       ...
155  5.806670e+05  1000.0    5.0             NaN             NaN   Çankaya
156  5.057010e+05    11.0    NaN             0.0             2.0  Keçiören
157  4.814590e+05     7.0    0.0             0.0             3.0     Mamak
158  5.321420e+05     5.0    2.0             0.0             4.0  Keçiören
159  5.000000e+15     9.0    3.0             0.0             2.0  Keçiören

      area unit district_socioeconomic_status
0    112.5   m2                     Low Level
1    153.1   m2                    High Level
2      NaN   m2                    High Level
3    127.3   m2                    High Level
4     79.9   m2                     Low Level
..     ...  ...                           ...
155  115.7   m2                    High Level
156  106.1  NaN                  Middle Level
157    NaN   m2                     Low Level
158  131.0   m2                  Middle Level
159  101.2   m2                  Middle Level

[160 rows x 9 columns]

In [132]:
df.head()

,price,age,floor,heating_system,number_of_room,district,area,unit,district_socioeconomic_status
0,497075.0,5.0,NaN,0.0,3.0,Mamak,112.5,m2,Low Level
1,619741.0,7.0,5.0,0.0,6.0,Çankaya,153.1,m2,High Level
2,565145.0,11.0,5.0,0.0,NaN,Çankaya,NaN,m2,High Level
3,593184.0,7.0,5.0,0.0,4.0,Çankaya,127.3,m2,High Level
4,NaN,6.0,1.0,NaN,0.0,Mamak,79.9,m2,Low Level

In the Numeric Cleaning Parts, we have calculated mean and median value. For Age, there is no meaningful difference between each district's mean and general mean, we filled NaN data with the mean. 
For Price , Floor and Area columns, there is a meaningful difference between district's mean and general mean, so we use groupby() method to fill each NaN data with the appropriate district's median or district's mean value.

In cleaning price column part, we have tried a long way to make it better. Then we found a better solution where is above.
We left it to be seen what we tried.

In [133]:
# Cleaning Price Column

In [134]:
# We converted 5.000000e+15 to NaN, because we don't want it to affect mean price.
df.loc[df["price"]==5.000000e+15, 'price'] = np.nan
d_means = df.groupby('district')['price'].mean()

m_mean = d_means[1] # 480906.000000
k_mean = d_means[0] # 526836.421053
c_mean = d_means[2] # 583167.812500

df.loc[np.logical_and(df["price"].isna(), df["district"] == 'Mamak'), 'price'] = m_mean
df.loc[np.logical_and(df["price"].isna(), df["district"] == 'Keçiören'), 'price'] = k_mean
df.loc[np.logical_and(df["price"].isna(), df["district"] == 'Çankaya'), 'price'] = c_mean



# sub_cankaya = df[df["district"]== "Çankaya"]
# sub_keciören = df[df["district"]== "Keçiören"]
# sub_mamak = df[df["district"]== "Mamak"]

# df.loc[df["price"]==5.000000e+15, 'price'] = np.nan
# d_means = df.groupby('district')['price'].mean()

# sub_cankaya.fillna({"price": c_mean}, inplace = True) 
# sub_mamak.fillna({"price": m_mean}, inplace = True) 
# sub_keciören.fillna({"price": k_mean}, inplace = True) 

# for i in sub_cankaya.index:
#   df.loc[i,"price"] = sub_cankaya.loc[i,"price"]
# for i in sub_keciören.index:
#   df.loc[i,"price"] = sub_keciören.loc[i,"price"]
# for i in sub_mamak.index:
#   df.loc[i,"price"] = sub_mamak.loc[i,"price"]


print(df)

             price     age  floor  heating_system  number_of_room  district  \
0    497075.000000     5.0    NaN             0.0             3.0     Mamak
1    619741.000000     7.0    5.0             0.0             6.0   Çankaya
2    565145.000000    11.0    5.0             0.0             NaN   Çankaya
3    593184.000000     7.0    5.0             0.0             4.0   Çankaya
4    480906.000000     6.0    1.0             NaN             0.0     Mamak
..             ...     ...    ...             ...             ...       ...
155  580667.000000  1000.0    5.0             NaN             NaN   Çankaya
156  505701.000000    11.0    NaN             0.0             2.0  Keçiören
157  481459.000000     7.0    0.0             0.0             3.0     Mamak
158  532142.000000     5.0    2.0             0.0             4.0  Keçiören
159  526836.421053     9.0    3.0             0.0             2.0  Keçiören

      area unit district_socioeconomic_status
0    112.5   m2                     Low Level
1    153.1   m2                    High Level
2      NaN   m2                    High Level
3    127.3   m2                    High Level
4     79.9   m2                     Low Level
..     ...  ...                           ...
155  115.7   m2                    High Level
156  106.1  NaN                  Middle Level
157    NaN   m2                     Low Level
158  131.0   m2                  Middle Level
159  101.2   m2                  Middle Level

[160 rows x 9 columns]

In [135]:
# Cleaning Age Column

In [136]:
df.isnull().sum() # age column has 22 null values

price                             0
age                              22
floor                            29
heating_system                   30
number_of_room                   26
district                          0
area                             25
unit                             21
district_socioeconomic_status     0
dtype: int64

In [137]:
df["age"].head(10)

0     5.0
1     7.0
2    11.0
3     7.0
4     6.0
5     6.0
6     8.0
7     NaN
8     5.0
9    11.0
Name: age, dtype: float64

In [138]:
df["age"].tail(10)

150    1000.0
151       7.0
152       9.0
153       7.0
154       8.0
155    1000.0
156      11.0
157       7.0
158       5.0
159       9.0
Name: age, dtype: float64

In [139]:
df.groupby('district')["age"].median()
# Since variable has outliers median will be more robust than mean also if mean would be used decimal number will be meaningless

district
Keçiören    8.0
Mamak       8.0
Çankaya     9.0
Name: age, dtype: float64

In [140]:
print(df[df["age"]==1000].index.values) # in order to see what is the indexes of outliers

[ 29  40  47  91 150 155]

In [141]:
# NaN values are filled with median
df['age'].fillna((df['age'].median()), inplace=True)

In [142]:
for j in [ 29 , 40 , 47 , 91 ,150 , 155]:
    df.iat[j,1] = 8
# 1000 values(outliers) are changed with median

In [143]:
# Cleaning Floor Column

In [144]:
df["floor"].isnull().sum() # total number of nulls in floor column

29

In [145]:
print(df[df["floor"]==0].index.values) # to find indexes of numbers whose values are 0
df["floor"].mean() # decimal number it can be rounded but it will be same with median

[ 33  57 117 118 122 157]

2.9083969465648853

In [146]:
for j in [ 33 ,  57 , 117 , 118 , 122 , 157]:
    df.iat[j,2] = np.nan
# Finally, 0 values are changed with NaN to be able to change them with one code of block

In [147]:
df.groupby('district')["floor"].median() # median is used because variable has outliers

d_medians = df.groupby('district')["floor"].median()

m_median = d_medians[1] # 1
k_median = d_medians[0] # 2
c_median = d_medians[2] # 4

In [148]:
df['floor'].fillna((df['floor'].median()), inplace=True) # NaN values are filled with median


df.loc[np.logical_and(df["floor"].isna(), df["district"] == 'Mamak'), 'floor'] = m_median
df.loc[np.logical_and(df["floor"].isna(), df["district"] == 'Keçiören'), 'floor'] = k_median
df.loc[np.logical_and(df["floor"].isna(), df["district"] == 'Çankaya'), 'floor'] = c_median

In [149]:
# Cleaning Heating System Column

In [150]:
# This column does not have value it will be dropped
df.drop("heating_system", axis=1, inplace=True)

In [151]:
df["number_of_room"].replace(to_replace= 0,value= np.nan, inplace= True)
print(df) #We converted 0 values to NaN because there can not be 0 rooms in a house.
# Mamak, Keçiören, and Çankaya have medians 2,3, and 4 ,respectively.

d_medians = df.groupby('district')["floor"].median()

m_median = d_medians[1] # 2
k_median = d_medians[0] # 3
c_median = d_medians[2] # 4

# df.loc[np.logical_and(df["floor"].isna(), df["district"] == 'Mamak'), 'floor'] = m_median
# df.loc[np.logical_and(df["floor"].isna(), df["district"] == 'Keçiören'), 'floor'] = k_median
# df.loc[np.logical_and(df["floor"].isna(), df["district"] == 'Çankaya'), 'floor'] = c_median

sub_cankaya = df[df["district"]== "Çankaya"]
sub_keciören = df[df["district"]== "Keçiören"]
sub_mamak = df[df["district"]== "Mamak"]
# #We create subsets, since the median values of 3 district have a meaningful median differences.

sub_cankaya.fillna({"number_of_room": c_median}, inplace = True) 
sub_mamak.fillna({"number_of_room": m_median}, inplace = True) 
sub_keciören.fillna({"number_of_room": k_median}, inplace = True) 
# #We filled NaN values with that district's median value.
for i in sub_cankaya.index:
  df.loc[i,"number_of_room"] = sub_cankaya.loc[i,"number_of_room"]
for i in sub_keciören.index:
  df.loc[i,"number_of_room"] = sub_keciören.loc[i,"number_of_room"]
for i in sub_mamak.index:
  df.loc[i,"number_of_room"] = sub_mamak.loc[i,"number_of_room"]
#We changed that index with appropriate subset values in here by using for loop.

print(df)





# median = df["number_of_room"].median() #To calculate the median of number of room.
# median
# df['number_of_room'].iloc[df['number_of_room'] == 0] = median #There were 0 number rooms which like NaN values, so, i changed them with the median.
# df['number_of_room'].fillna(median, inplace= True) #To fill NaN values with the median values.
# print(df)

             price   age  floor  number_of_room  district   area unit  \
0    497075.000000   5.0    3.0             3.0     Mamak  112.5   m2
1    619741.000000   7.0    5.0             6.0   Çankaya  153.1   m2
2    565145.000000  11.0    5.0             NaN   Çankaya    NaN   m2
3    593184.000000   7.0    5.0             4.0   Çankaya  127.3   m2
4    480906.000000   6.0    1.0             NaN     Mamak   79.9   m2
..             ...   ...    ...             ...       ...    ...  ...
155  580667.000000   8.0    5.0             NaN   Çankaya  115.7   m2
156  505701.000000  11.0    3.0             2.0  Keçiören  106.1  NaN
157  481459.000000   7.0    3.0             3.0     Mamak    NaN   m2
158  532142.000000   5.0    2.0             4.0  Keçiören  131.0   m2
159  526836.421053   9.0    3.0             2.0  Keçiören  101.2   m2

    district_socioeconomic_status
0                       Low Level
1                      High Level
2                      High Level
3                      High Level
4                       Low Level
..                            ...
155                    High Level
156                  Middle Level
157                     Low Level
158                  Middle Level
159                  Middle Level

[160 rows x 8 columns]
             price   age  floor  number_of_room  district   area unit  \
0    497075.000000   5.0    3.0             3.0     Mamak  112.5   m2
1    619741.000000   7.0    5.0             6.0   Çankaya  153.1   m2
2    565145.000000  11.0    5.0             4.0   Çankaya    NaN   m2
3    593184.000000   7.0    5.0             4.0   Çankaya  127.3   m2
4    480906.000000   6.0    1.0             2.0     Mamak   79.9   m2
..             ...   ...    ...             ...       ...    ...  ...
155  580667.000000   8.0    5.0             4.0   Çankaya  115.7   m2
156  505701.000000  11.0    3.0             2.0  Keçiören  106.1  NaN
157  481459.000000   7.0    3.0             3.0     Mamak    NaN   m2
158  532142.000000   5.0    2.0             4.0  Keçiören  131.0   m2
159  526836.421053   9.0    3.0             2.0  Keçiören  101.2   m2

    district_socioeconomic_status
0                       Low Level
1                      High Level
2                      High Level
3                      High Level
4                       Low Level
..                            ...
155                    High Level
156                  Middle Level
157                     Low Level
158                  Middle Level
159                  Middle Level

[160 rows x 8 columns]

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [152]:
df['area'].loc[df['unit'] =="cm2"] = df['area'].loc[df['unit'] =="cm2"]/10000 
#Converted areas whose have units cm2 to m2. Divide cm2 to 10000.
mean_area = df.groupby("district")["area"].agg(np.mean)
mamak_mean = mean_area[1]
keciören_mean = mean_area[0]
cankaya_mean = mean_area[2]
#The mean area with respect to districts are divided.
sub_cankaya = df[df["district"]== "Çankaya"]
sub_keciören = df[df["district"]== "Keçiören"]
sub_mamak = df[df["district"]== "Mamak"]
print(cankaya_mean,keciören_mean,mamak_mean)
#Subsets areas are created 
#Because we can not assign general mean to all NaN values,
#Since there is a meaningful difference between their mean  

sub_cankaya.fillna({"area": cankaya_mean}, inplace = True) 
sub_mamak.fillna({"area": mamak_mean}, inplace = True) 
sub_keciören.fillna({"area": keciören_mean}, inplace = True) 

for i in sub_cankaya.index:
  df.loc[i,"area"] = sub_cankaya.loc[i,"area"]
for i in sub_keciören.index:
  df.loc[i,"area"] = sub_keciören.loc[i,"area"]
for i in sub_mamak.index:
  df.loc[i,"area"] = sub_mamak.loc[i,"area"]

# # price_ankara["area"].fillna(mamak_mean, inplace= True)
# df["area"].loc[df["district"] == "Keçiören"].replace(np.nan, keciören_mean)
# df.loc[df["district"] == "Çankaya", "area"].replace(np.nan,31)
print(df)

129.22549019607843 114.69642857142857 93.01428571428572
             price   age  floor  number_of_room  district        area unit  \
0    497075.000000   5.0    3.0             3.0     Mamak  112.500000   m2
1    619741.000000   7.0    5.0             6.0   Çankaya  153.100000   m2
2    565145.000000  11.0    5.0             4.0   Çankaya  129.225490   m2
3    593184.000000   7.0    5.0             4.0   Çankaya  127.300000   m2
4    480906.000000   6.0    1.0             2.0     Mamak   79.900000   m2
..             ...   ...    ...             ...       ...         ...  ...
155  580667.000000   8.0    5.0             4.0   Çankaya  115.700000   m2
156  505701.000000  11.0    3.0             2.0  Keçiören  106.100000  NaN
157  481459.000000   7.0    3.0             3.0     Mamak   93.014286   m2
158  532142.000000   5.0    2.0             4.0  Keçiören  131.000000   m2
159  526836.421053   9.0    3.0             2.0  Keçiören  101.200000   m2

    district_socioeconomic_status
0                       Low Level
1                      High Level
2                      High Level
3                      High Level
4                       Low Level
..                            ...
155                    High Level
156                  Middle Level
157                     Low Level
158                  Middle Level
159                  Middle Level

[160 rows x 8 columns]

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [153]:
df['unit'] = df['unit'].str.replace('cm2','m2')#Replaced cm2 to m2. So, there is no cm2 data since i converted all them to m2.
df['unit'].head(10)
df["unit"].fillna("m2", inplace= True)#Since all area data was converted to m2, all units must be m2. I filled NaN data with m2.
df["unit"]

0      m2
1      m2
2      m2
3      m2
4      m2
       ..
155    m2
156    m2
157    m2
158    m2
159    m2
Name: unit, Length: 160, dtype: object

In [154]:
df["area"] = df['area'].apply(np.ceil)

In [155]:
df.rename(columns = {'price':'Price', 'age':'Age','floor':'Floor', 'district':'District',
              'number_of_room':'Number of Room','area':'Area','unit':'Unit',
              'district_socioeconomic_status':'District Socioeconomic Status'}, inplace = True)

In [156]:
df

,Price,Age,Floor,Number of Room,District,Area,Unit,District Socioeconomic Status
0,497075.000000,5.0,3.0,3.0,Mamak,113.0,m2,Low Level
1,619741.000000,7.0,5.0,6.0,Çankaya,154.0,m2,High Level
2,565145.000000,11.0,5.0,4.0,Çankaya,130.0,m2,High Level
3,593184.000000,7.0,5.0,4.0,Çankaya,128.0,m2,High Level
4,480906.000000,6.0,1.0,2.0,Mamak,80.0,m2,Low Level
...,...,...,...,...,...,...,...,...
155,580667.000000,8.0,5.0,4.0,Çankaya,116.0,m2,High Level
156,505701.000000,11.0,3.0,2.0,Keçiören,107.0,m2,Middle Level
157,481459.000000,7.0,3.0,3.0,Mamak,94.0,m2,Low Level
158,532142.000000,5.0,2.0,4.0,Keçiören,131.0,m2,Middle Level
159,526836.421053,9.0,3.0,2.0,Keçiören,102.0,m2,Middle Level

In [158]:
df.to_excel("Clean Data.xlsx")